.fleft{
	float:left;
	@media #{$mb}{
		float: none ;
	}
}
.fright{
	float:right;
	@media #{$mb}{
		float: none ;
	}	
}
.m_fleft{
	float:left;
}
.m_fright{
	float:right;
}

.align_center{
	text-align:center;
}
.align_left{
	text-align:left;
}
.align_right{
	text-align:right;
}